@media (max-width: 768px) {
  .our-dishes-title {
    font-size: 40px;
    text-align: center;
  }
  .our-dishes-blocks {
    display: flex;
    flex-wrap: wrap;
  }
  .our-dishes-pizza {
    background-image: url(img/pizza.jpeg);
    background-size: cover;
  }
  /* 
  .our-dishes-pizza img {
    object-fit: cover;
    height: 674px;
    width: 768px;
    margin: 0px;
  }
   */

  .our-dishes-burgers {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 5px;
    gap: 50px;
  }
  .our-dishes-burgers img {
    height: auto;
    width: 100%;
    max-width: 160px;
  }
  #dot {
    display: none;
  }
  .burger-mini-price {
    display: flex;
    height: 30%;
    max-width: 167px;
    text-align: center;
    flex-direction: column;
    align-items: end;
    padding-top: 80px;
  }
}
@media (max-width: 544px) {
  .dishes__title {
    font-size: 40px;
    text-align: center;
  }

  .dishes__small-picture {
    flex: 1 1 47%;
  }

  .dishes__big-picture {
    flex: 1 1 100%;
  }

  .dishes__big-picture img,
  .dishes__small-picture img {
    width: 100%;
    height: auto;
  }
}

@media (max-widht: 320px) {
  .imagin-cooks__title {
    font-size: 40px;
    text-align: center;
  }
  .imagin-cooks__all-cooks {
    display: flex;
    flex-wrap: wrap;
  }

  .imagin-cooks__cook {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 5px;
    padding-left: 5px;
    gap: 50px;
  }
  .imagin-cooks__chef {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    gap: 20px;
  }
  .imagin-cooks__kitchener {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    gap: 20px;
  }
  .imagin-cooks__bar {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    gap: 200px;
  }
}
