@media (max-width: 768px) {
  .our-dishes-title {
    font-size: 40px;
    text-align: center;
  
  }
  .our-dishes-blocks {
    display: flex;
    flex-wrap: wrap;
  }
  .our-dishes-pizza {
    background-image: url(pizza.jpeg);
    background-size: cover;
  }
  /* 
  .our-dishes-pizza img {
    object-fit: cover;
    height: 674px;
    width: 768px;
    margin: 0px;
  }
   */

  .our-dishes-burgers {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 5px;
    gap: 50px;
  }
  .our-dishes-burgers img {
    height: auto;
    width: 100%;+
    max-width: 160px;
  }
  #dot {
    display: none;
  }
  .burger-mini-price {
    display: flex;
    height: 30%;
    max-width: 167px;
    text-align: center;
    flex-direction: column;
    align-items: end;
    padding-top: 80px;
  }
}
