@media (max-width: 768px) {
  .header {
    background: url(img/bg_greetings.jpeg);
    background-size: cover;
  }
  .wrap {
    padding: 0px 15px;
  }
  .navbar-list ul li {
    font-size: 10px;
  }
  .call {
    display: none;
  }
  .info {
    padding: 0px 15px;
    text-align: center;
  }

  .tel {
    padding-top: 18px;
  }

  /*  не работает - не понятно почему
  .wrap-info {
    display: flex;
    padding: 0px 20px;
    gap: 10px;
  }
   
  .basket {
    padding: 0px 5px;
    text-align: center;
  }
   
  .wrap-info {
    display: flex;
    gap: 10px;
  }

 .btn {
  padding: 13px 24px;
 }

 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;

  }
  */
  .container {
    margin-left: 150px;
  }

  .container h3 span {
    font-size: 40px;
  }
  .container h3 span {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .gallery-of-dishes {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .our-dishes-title {
    font-size: 40px;
    text-align: center;
  }
  .our-dishes-blocks {
    display: flex;
    flex-wrap: wrap;
  }
  .our-dishes-pizza {
    background-image: url(img/pizza.jpeg);
    background-size: cover;
  }

  .our-dishes-burgers {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 5px;
    gap: 50px;
  }
  .our-dishes-burgers img {
    height: auto;
    width: 100%;
  }
 
  .burger-mini-price {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    padding-left: 120px;
    padding-top: 30px;
    height: 50%;
  }
}
@media (max-widxh: 768px) {
  .our-history {
    padding: 0px 15px;
  }

  .our-histor__container {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 0px 15px;
  }

  .our-history__view {
    display: flex;
    flex: 1 1 100%;
    gap: 50px;
    padding: 0px 15px;
  }
  .our-history__photo {
    position: relative;
  }
  .our-history__photo-cake {
    position: absolute;
  }
  .our-history__number-drinks {
    position: absolute;
  }
  .our-history__photo-window {
    position: absolute;
  }
}
@media (max-width: 544px) {
  .dishes__title {
    font-size: 40px;
    text-align: center;
  }

  .dishes__small-picture {
    flex: 1 1 47%;
  }

  .dishes__big-picture {
    flex: 1 1 100%;
  }

  .dishes__big-picture img,
  .dishes__small-picture img {
    width: 100%;
    height: auto;
  }
}

@media (max-widht: 768px) {
  .imagin-cooks__title {
    font-size: 40px;
    text-align: center;
  }
  .imagin-cooks__all-cooks {
    gap: 5px;
  }

  .imagin-cooks__cook {
    flex: 1 1 33%;
  }
  .imagin-cooks__chef {
    flex: 1 1 33%;
  }
  .imagin-cooks__kitchener {
    flex: 1 1 33%;
  }

  .imagin-cooks__chef img,
  .imagin-cooks__cook img,
  .imagin-cooks__kitchener img {
    width: 100%;
    height: auto;
  }
  
}
