.header {
  background: url(img/bg_greetings.jpeg) 0 0 / cover no-repeat;
}
.wrap {
  max-width: 1138px;
  margin: 0 auto;
}
.navbar {
  padding: 50px 0px;
  flex-wrap: nowrap;
  /*  padding-left: -215px;*/
}
.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35;
  text-align: left;
}

.wrap-info {
  display: flex;
  gap: 20px;
  align-items: center;
  /*  
  margin-left: 250px;
  */
}
.wrap-info li {
  color: white;
}
.wrap-info li a {
  color: white;
}
.basket {
  display: flex;
  justify-content: center;
  padding: 0px 20px;
}
.basket::after {
  content: " ";
  border-right: 1px solid white;
  height: 50px;
  margin-left: 20px;
}
.info li a {
  color: white;
}
.info li {
  max-width: 200px;
  color: white;
}
.btn_order {
  color: white;
  background-color: rgb(214, 126, 52);
  padding: 15px 52px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  text-align: center;
}
.container {
  max-width: 485px;
  padding: 154px 0px 300px 0px;
  text-align: center;
}
.container h3 {
  color: rgb(214, 126, 53);
  font-family: "Tinos";
  font-size: 50px;
  font-weight: 400;
  line-height: 1.14;
}
.container h3 span {
  font-size: 80px;
  line-height: 1.15;
}
/*  
.container h3:hover {
  color: red;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  transform: scale(1.2);
  transform: rotate(180deg);
}
*/

.title {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  padding-bottom: 15px;
}
.btn_menu {
  color: white;
  background-color: rgb(214, 126, 52);
  padding: 19px 47px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  text-align: center;
}
.gallery-of-dishes {
  display: flex;
  gap: 31px;
  margin-top: -100px;
}

.card-dishes {
  padding: 48px 32px 19px;
  flex: 1 1 33.333%;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  color: rgb(101, 99, 99);
  font-family: Tinos;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
}

.card-dishes img {
  width: 87px;
  height: 87px;
}
.dish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-dishes h3 {
  margin-bottom: 20px;
}

.card-dishes h3 span {
  color: rgb(188, 144, 96);
}
.title::before {
  content: "";
  border: 2px solid white;
  width: 61px;
  display: inline-block;
  margin: 5px;
}
.title::after {
  content: "";
  border: 2px solid white;
  width: 61px;
  display: inline-block;
  margin: 5px;
}

.hamburger_price h3 span {
  color: black;
}
.hamburger_price span {
  color: rgb(188, 144, 96);
}
.our-dishes {
  padding: 132px 0px 150px;
}

.our-dishes-title {
  margin-bottom: 132px;
  font-family: "Tinos";
  font-size: 54px;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
}
.our-dishes-title span {
  color: rgb(214, 126, 53);
}

.burger-mini-price {
  display: flex;
  justify-content: space-between;
}

.burger-mini-price p:nth-child(2) {
  flex: 1 0;
  border-bottom: 4px dotted #000;
  height: 10px;
  margin: 0 4px;
}

.our-dishes-blocks {
  display: flex;
  gap: 30px;
}

.our-dishes-pizza {
  flex: 0 1 39%;
}

.our-dishes-pizza img {
  width: 445px;
  height: 478px;
}

.our-dishes-burgers {
  flex: 0 1 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.our-dishes-burger {
  display: flex;
  gap: 30px;
}

.burger-mini img {
  width: 160px;
  height: 140px;
}

.burger-mini-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.burger-mini-price p {
  display: flex;
}

.our-history {
  display: flex;
  max-width: 1138px;
  margin: 0 auto;
}
.our-history__wrap.wrap {
  max-width: 100%;
  display: flex;
}
.our-histor__container {
  display: flex;
  /*  
  flex: 1 1 52.55%;
  */
  flex-direction: column;
  gap: 60px;
  text-align: center;
}
.our-histiry__title {
  max-width: 52.55%;
  font-family: "Tinos";
  font-size: 54px;
  font-weight: 400;
  line-height: 1.15;
}
.our-histiry__title span {
  color: rgb(214, 126, 52);
}
.our-histiry__text {
  max-width: 52.55%;
  text-align: center;
  color: rgb(101, 99, 99);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  padding: 0px 50px;
}
.our-history__view {
  max-width: 50%;
  display: flex;
  justify-content: center;
  gap: 60px;

  /*  
  padding-left: 50px;*/
}

.our-history__number-drinks span,
.our-history__number-ate span,
.our-history__number-snacks span {
  color: rgb(214, 126, 52);
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 400;
  line-height: 1.35;
}
.our-history__number-drinks p,
.our-history__number-ate p,
.our-history__number-snacks p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.35;
}

.our-history__photo {
  display: flex;
  /*  flex: 1 1 40%;  */
  flex-wrap: nowrap;
  position: relative;
  left: -300px;
}
.our-history__photo-cake {
  position: absolute;
  left: -80px;
}
.our-history__photo-spices {
  position: absolute;
  left: -250px;
  top: 30px;
}
.our-history__photo-window {
  position: absolute;
  left: 20px;
  top: 200px;
}
/*# sourceMappingURL=style.css.map */
.dish {
  max-width: 1138px;
  margin: 0 auto;
}
.dishes__wrap.wrap {
  margin: 150px;
}
.dishes__all-picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.dishes__big-picture {
  flex: 1 1 49%;
  transform: rotate(180deg);
}

.dishes__small-picture {
  flex: 1 1 24%;
}

.dishes__big-picture img,
.dishes__small-picture img {
  width: 100%;
  height: 100%;
}
.dishes__title {
  text-align: center;
  font-family: "Tinos";
  font-size: 54px;
  font-weight: 400;
  line-height: 1.15;
  padding-left: 50px;
}
.dishes__title span {
  color: rgb(214, 126, 52);
}

/*# sourceMappingURL=style.css.map */
.imagin-cooks__wrap.wrap {
  max-width: 1138px;
  margin: 0 auto;
}
.imagin-cooks__title {
  text-align: center;
  font-family: "Tinos";
  font-size: 54px;
  font-weight: 400;
  line-height: 1.15;
}
.imagin-cooks__title span {
  color: rgb(214, 126, 52);
}
.imagin-cooks__all-cooks {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 50px 0px;
}
.imagin-cooks__cook {
  flex: 0 1 33.33%;
}
.imagin-cooks__chef {
  flex: 0 1 33.33%;
}
.imagin-cooks__kitchener {
  flex: 0 1 33.34%;
}

.footer {
  height: 100%;
  background: url(img/bar.jpeg) 0 0 / cover no-repeat;
}

/*# sourceMappingURL=style.css.map */
