.header {
  background: url(bg_greetings.jpeg) 0 0 / cover no-repeat;
}
.wrap {
  max-width: 1138px;
  margin: 0 auto;
}
.navbar {
  padding: 50px 0px;
  flex-wrap: nowrap;
  padding-left: -215px;
}
.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35;
  text-align: left;
}

.wrap-info {
  display: flex;
  gap: 20px;
  margin-left: 250px;
}
.wrap-info li {
  color: white;
}
.wrap-info li a {
  color: white;
}
.basket {
  border-right: 1px solid white;
  height: 51px;
  padding: 0px 20px;
}

.info li a {
  color: white;
}
.info li {
  max-width: 200px;
  color: white;
}

.container {
  max-width: 485px;
  padding: 154px 0px 300px 0px;
  text-align: center;
}
.container h3 {
  color: rgb(214, 126, 53);
  font-family: "Tinos";
  font-size: 50px;
  font-weight: 400;
  line-height: 1.14;
}
.container h3 span {
  font-size: 80px;
  line-height: 1.15;
}
/*  
.container h3:hover {
  color: red;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  transform: scale(1.2);
  transform: rotate(180deg);
}
*/

.title {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}
.btn {
  color: white;
  background-color: rgb(214, 126, 52);
  max-width: 157px;
  height: 46px;
  padding: 8px 24px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  text-align: center;
}

.gallery-of-dishes {
  display: flex;
  gap: 31px;
  margin-top: -100px;
}

.card-dishes {
  padding: 48px 32px 19px;
  flex: 1 1 33.333%;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  color: rgb(101, 99, 99);
  font-family: Tinos;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
}

.card-dishes img {
  width: 87px;
  height: 87px;
}
.dish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-dishes h3 {
  margin-bottom: 20px;
}

.card-dishes h3 span {
  color: rgb(188, 144, 96);
}
.title::before {
  content: "";
  border: 2px solid white;
  width: 61px;
  display: inline-block;
  margin: 5px;
}
.title::after {
  content: "";
  border: 2px solid white;
  width: 61px;
  display: inline-block;
  margin: 5px;
}

.hamburger_price h3 span {
  color: black;
}
.hamburger_price span {
}
*/ .our-dishes {
  padding: 132px 0px 150px;
}

.our-dishes-title {
  margin-bottom: 132px;
  font-family: "Tinos";
  font-size: 54px;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
  padding-top: 150px;
}
.our-dishes-title span {
  color: rgb(214, 126, 53);
}

.our-dishes_container {

}
.our-dishes-blocks {
  display: flex;
  gap: 30px;

  /* 1138-100
  445-39
  693-30 -59 */
}
.our-dishes-pizza {
  max-width: 0 1 39%;
}
.our-dishes-pizza img {
  width: 445px;
  height: 478px;
}
.our-dishes-burgers {
  max-width: 0 1 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-dishes-burger {
  display: flex;
  gap: 30px;
}

.burger-mini img {
  width: 160px;
  height: 140px;
}
.burger-mini-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.burger-mini-price p {
  display: flex;
}
/*  
.footer h3 {
  margin-left: 500px;
}
.footer{
  padding: 200px;
  background-color: rgb(71, 71, 216);

  animation: 4s 1 normal picture-sky;
  
}

.picture{
  width: 200px;
  height: 200px;
  border-radius: 50%;

  box-shadow: 10px 10px 40px 20px yellow;
  background: yellow;

  animation: 5s 1 normal picture-block;
}

@keyframes picture-block {
  0% {
    margin-top: 500px;
    
  }

  50%{
      
  }

  100% {
      margin-top: 0px;
     
  }
}

@keyframes picture-sky {
  0% {
      background-color: rgb(11, 11, 60);
  }

  50%{
  background-color: rgb(24, 24, 116);

  }

  100% {
      background-color: rgb(71, 71, 216);
  }
}
*/

.our-history {
  display: flex;
  max-width: 1400px;
  height: auto;
}
.our-history__view {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 60px;
  text-align: center;
  padding-left: 50px;
}
.our-history__number-drinks span {
  color: rgb(214, 126, 52);
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 400;
  line-height: 1.35;
}
.our-history__number-drinks p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.35;
}
.our-history__number-ate span {
  color: rgb(214, 126, 52);
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 400;
  line-height: 1.35;
}
.our-history__number-ate p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.35;
}
.our-history__number-snacks span {
  color: rgb(214, 126, 52);
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 400;
  line-height: 1.35;
}
.our-history__number-snacks p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.35;
}
.our-history__photo {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}
.our-history__photo-cake {
  margin-left: 100px;
}
.our-history__photo-spices {
  margin-top: -400px;
  margin-left: -100px;
}
.our-history__photo-window {
  margin-left: 230px;
  margin-top: -200px;
}

.our-histor__container {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 60px;
  margin: 150px;
}

.our-histiry__title {
  text-align: center;
  font-family: "Tinos";
  font-size: 54px;
  font-weight: 400;
  line-height: 1.15;
  padding-left: 50px;
}
.our-histiry__title span {
  color: rgb(214, 126, 52);
}
.our-histiry__text {
  text-align: center;
  color: rgb(101, 99, 99);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
} /*# sourceMappingURL=style.css.map */

.imagin-dishes__wrap wrap {
  max-width: 1400px;
  height: 685px;
  margin: 0px 150px 150px 150px;
}
.imagin-dishes__wrap {
 
}
.imagin-dishes__title {
  text-align: center;
  font-family: "Tinos";
  font-size: 54px;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 60px;

}
.imagin-dishes__title span {
  color: rgb(214, 126, 52);
}
.imagin-dishes__all-dishes {
  max-width: 1078px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 150px;
}
.imagin-dishes__glass {
  width: 538px;
  height: 274px;
}
.imagin-dishes__coffee {
  width: 255px;
  height: 274px;
}
.imagin-dishes__soup {
  width: 253px;
  height: 274px;
}
.imagin-dishes__coffee-2 {
  width: 255px;
  height: 274px;
}
.imagin-dishes__soup-2 {
  width: 253px;
  height: 274px;
}
.imagin-dishes__glass-2 {
  width: 538px;
  height: 274px;
  transform: rotate(180deg);
} /*# sourceMappingURL=style.css.map */
